@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

pre{
  background: rgb(233, 233, 233);
  padding: 5px;
  border-radius: 4px;
  font-style: italic;
  font-weight: 500;
  color: #000000;
}